<div class="w-full">

  @if (currentPath().includes('/users')) {
    <span class="hover:cursor-pointer" routerLink="/users"> 
      Users 
    </span>

    @if (currentPath().includes('/edit')) {
      <span class="font-bold"> > Edit </span>
    }
    
    @if (currentPath().includes('/add')) {
      <span class="font-bold"> > Add </span>
    }
  }

  @else if (currentPath().includes('/absences')) {
    <span class="hover:cursor-pointer" routerLink="/absences"> 
      Absences 
    </span>

    @if (currentPath().includes('/edit')) {
      <span class="font-bold"> > Edit </span>
    }

    @if (currentPath().includes('/add')) {
      <span class="font-bold"> > Add </span>
    }
  }

</div>