<div class="w-full">

  @if (currentPath().includes('/settings')) {
    <span class="text-xl hover:cursor-pointer" routerLink="/users"> 
      Settings 
    </span>
  }
  @if (currentPath().includes('/users')) {
    <span class="text-xl hover:cursor-pointer" routerLink="/users"> 
      Users 
    </span>

    @if (currentPath().includes('/edit')) {
      <span class="text-rose-400 text-xl font-bold"> > Edit </span>
    }
    
    @if (currentPath().includes('/add') && !currentPath().includes('/absence')) {
      <span class="text-rose-400 text-xl font-bold"> > Add </span>
    }

    @if (currentPath().includes('/absence')){
      <span class="text-rose-400 text-xl font-bold"> > Add absence </span>
    }
  }

  @else if (currentPath().includes('/absences')) {
    <span class="text-xl hover:cursor-pointer" routerLink="/absences"> 
      Absences 
    </span>

    @if (currentPath().includes('/edit')) {
      <span class="text-rose-400 text-xl font-bold"> > Edit </span>
    }

    @if (currentPath().includes('/add')) {
      <span class="text-rose-400 texl-xl font-bold"> > Add </span>
    }
  }

</div>