<div class="p-10 text-center">
  <h1 class="text-2xl font-bold mb-4">AllHours API Test</h1>
  
  <button 
    (click)="getCreds()" 
    class="bg-blue-600 text-white px-4 py-2 rounded shadow-md hover:bg-blue-700 transition">
    Pridobi Access Token
  </button>

  <div class="mt-6 p-4 bg-gray-100 rounded text-left border overflow-hidden">
    <p class="font-mono text-sm break-all">
      <strong>Token:</strong> 
      {{ auth.token() ? auth.token() : 'Žetona še ni. Klikni gumb!' }}
    </p>
  </div>

</div>